<%- include('../partials/header.ejs') %>
<h2 class="title">Search Books</h2>
<form action="/books" method="GET">
    <div class="book-div">
            <label>Title</label>
            <input type="text" name="titleName" class="input-box" value="<%= searchOptions.titleName %>">
            <div class="inner-book-div">
               <div class="inner-book-div-row">
                <label>Publish After</label>
                <input type="date" name="publishAfter" class="input-box" value="<%= searchOptions.publishAfter %>">
               </div>

               <div class="inner-book-div-row">
                <label>Publish Before</label>
                <input type="date" name="publishBefore" class="input-box"  value="<%= searchOptions.publishBefore %>">
               </div>
            </div>
        <div class="c1">
            <button type="submit" class="btn-primary">Search</button>
        </div>
    </div>
        
    
</form>
    <div class="book-div">
        <div>
            <% bookObj.forEach(book => { %>
                <a href="/books/<%= book.id %>">
               <img class="img-size2" src="<%= book.coverImagePath %>">
                </a>
            <% }) %>
        </div>
    </div>
