<%- include('../partials/header.ejs') %>
<%- include('../partials/errorMessage.ejs') %>
<h2 class="title"><%= book.title %></h2>
<div class="view-div">
    <img class="img-size" src="<%= book.coverImagePath %>">
    <div class="inner-view-div">
        <div class="inner-view-data">
            <div>Author: </div>
            <div>Publish Date: </div>
            <div>Page Count: </div>
            <div>Description: </div>
        </div>
        <div class="inner-view-data">
            <div><%= book.author.name %></div>
            <div><%= book.publishDate.toDateString() %></div>
            <div><%= book.pageCount %></div>
            <div><%= book.description %></div>
        </div> 
    </div>
</div>

<div class="view-div-container">
    <div class="view-div2">
        <div class="c3">
            <a href="/books/<%= book.id %>/edit" class="btn-primary">Edit</a>
            <%- include('../partials/deleteForm', {url: `/books/${book.id}`}) %>
        </div>
        <div>
            <a href="/authors/<%= book.author.id %>/" class="btn-view">View Author</a>
        </div>
    </div>
</div>
