<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <h2>Edit Author</h2>

    <form action="/authors/<%= cAuthor.id %>?_method=PUT" method="POST"> <!-- /action is where the form goes to-->
        <%- include('_form_fields.ejs') %>
        <a href="/authors/<%= cAuthor.id %>">Cancel</a>
        <button type="submit">Update</button>
    </form> 
</body>