<%- include('../partials/header.ejs') %>
<h2 class="title">Search Authors</h2>
<form action="/authors" method="GET">
    <div class="forms-container">
        <div class="forms-inner-container">
            <label>Name</label>
            <input type="text" name="searchName" class="input-box" value="<%= searchOptions.searchName %>">
            <div>
                <button type="submit" class="btn-primary">Search</button>
            </div>
        </div>  
    </div>
</form>
    

<div class="author-container">
    <div class="author-inner-container">
        <% zAuthors.forEach(author => { %>
            <div class="author-row">
                <%= author.name %>
                <div class="btn-row">
                    <a class="btn-primary" href="/authors/<%= author.id %> ">View</a>
                    <a class="btn-primary" href="/authors/<%= author.id %>/edit ">Edit</a>
                    <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %> 
                </div>
            </div>
        <% }); %>
    </div>
</div>